* {
    margin: 10px;
    padding: 10px;
    /* background-color: gray; */
}

#wrapper {
    width: 970px;
    background-color: darkblue;
    margin: 10px;
}

#header {
    background-color: red;
    /* width: 950px; */
    height: 50px;
    margin: 0px auto;
    display: block;
}

#container {
    margin: 0px auto;
    height: 400px;
    display: inline-block;
    /* background-color: brown; */
}

.home {
    height: 350px;
    width: 250px;
    background-color: lightseagreen;
    display: inline-block;
}

.basics {
    height: 350px;
    width: 610px;
    position: relative;
    bottom: 100px;
    background-color: black;
    display: inline-block;
}

#footer {
    background-color: grey;
    height: 50px;
    margin: 0px auto;
    display: block;
}